@use "../../../assets/styles/variables" as *;

.final-page {
  background: $grey_2;

  .page-wrapper {
    padding: 20px 0;
  }

  .total-score {
    color: $black;
    font-weight: 600;
    opacity: 0.5;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .hand-logo {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .final-page {
    .total-score {
      font-size: 32px;
    }

    .hand-logo {
      margin-bottom: 0;
    }
  }
}
